<?xml version="1.0" encoding="UTF-8"?>
<access_token>
<access_token_value>SZJYV6o_pfM8UfJzxlAMMGtGhfmARNtemyrrStLLsroyFAGdQvOOB0STkFG3nESbNfP9xsGoV-p5HLWPZowFeZf2rkokezKHnJBPjqAkE-YLDN_afM88jinNtmFu2aCP4CLq9y_ECN1LstrrPj7AFpizrl_vps6ijprhn7vYP_hh6S8NerzHszh-LqM4_SnU7O3K2J-Fwc9EeD_l7t1IhQ</access_token_value>
<access_token_time>2019-05-30 12:44:13</access_token_time>
</access_token>