<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.hq.dao.CustomPostponeDao">
    <resultMap id="CustomPostponeBaseMap" type="com.ssm.hq.model.CustomPostpone">
        <result column="custom_Name" property="customName" jdbcType="VARCHAR"/>
        <result column="postpone_Cause" property="postponeCause" jdbcType="VARCHAR"/>
        <result column="postpone_Time" property="postponeTime" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAllCustomPostpone" resultMap="CustomPostponeBaseMap">
        select kh as customName,zqyy as postponeCause,zqsqsj as postponeTime from formtable_main_20
    </select>
    <select id="selectCustomPostponeByLikeName" resultMap="CustomPostponeBaseMap">
        select distinct kh as customName from formtable_main_20 where kh!='' and kh like concat(concat('%',#{customName}),'%')
    </select>
    <select id="selectAllCustomPostponeName" resultMap="CustomPostponeBaseMap">
        select distinct kh as customName from formtable_main_20
    </select>
</mapper>